
header{
    height: auto;
    width: auto;
    background-color: gray;
}
main{
    height: auto;
    background-color: gray;
    border: solid 2px black;
}
aside{
    background-color: gray;
    border: solid 2px black;
    height: 900px;
}
footer{
    height: auto;
    background-color: gray;
    border: solid 2px black;
}

header ul li{
    margin-top: 260px;
    background-color: gray;
    border: solid 2px black;
}
aside section{
    width: 100%;
    height: auto;
    background-color: gray;
    margin-left: 5%;
}
aside img{
    width: 40%;
    margin: 5%;
    float: left;
    height: auto;
}
main img{
    height: 247px;
    
}
